# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.*
!/.gitignore
!/.github
!/.solhint.json
!/.prettierrc

/vendor
/esdata
.env
*.log
# prevent accidental commit of key files
*.pem

mytestnet/**

#contracts/ethereum-sc
node_modules
cache
artifacts

/cmd/cmd

# default config directory & files that will be used by the app
cmd/scCallsExecutor/config/*.toml
