[Eth]
NetworkAddress = http://127.0.0.1:8545
BridgeAddress = 0x58603710E9ce4813A954a497a15ed77CBF4079B8
PrivateKey = 0xda3a4877df55500d6d1b926734677f73d7d0f54c18e85fc9fa900a4294253994
GasLimit = 500000

[Elrond]
NetworkAddress = https://devnet-gateway.elrond.com
BridgeAddress = erd1qqqqqqqqqqqqqpgqmxw4hdy7508k3qkcyk4wtvvgq5348768d8ssqv32u9
PrivateKey = "./alice.pem"
IntervalToResendTxsInSeconds = 60

[P2P]
Port = "10000"
Seed = "seed0"
InitialPeerList = "init"
ProtocolID = "/erd/relay/1.0.0"

[Relayer]
    [Relayer.Marshalizer]
       Type = "gogo protobuf"
       SizeCheckDelta = 10

[StateMachine]
    StepDurationInMillis = 6000
    Steps = [
        { Name = "getting the pending transactions", DurationInMillis = 48000 },
        { Name = "proposing transfer", DurationInMillis = 48000 },
        { Name = "waiting signatures for propose transfer", DurationInMillis = 48000 },
        { Name = "executing transfer", DurationInMillis = 48000 },
        { Name = "proposing set status", DurationInMillis = 48000 },
        { Name = "waiting signatures for propose set status", DurationInMillis = 48000 },
        { Name = "executing set status", DurationInMillis = 48000 }
    ]
