[Eth]
    NetworkAddress = <a network address, Eg: http://127.0.0.1:8545 for ganache>
    BridgeAddress = <the eth address for the bridge contract>
    PrivateKey = <the private key of the relayer eth wallet>
    GasLimit = 500000
    [Eth.GasStation]
        URL = "https://ethgasstation.info/api/ethgasAPI.json?" # gas station URL. Suggestion to provide the api-key here
        PollingIntervalInSeconds = 60 # number of seconds between gas price polling
        RequestTimeInSeconds = 2 # maximum timeout (in seconds) for the gas price request
        MaximumAllowedGasPrice = 2000 # maximum value allowed for the fetched gas price value
        # GasPriceSelector available options: "fast", "fastest", "safeLow", "average"
        GasPriceSelector = "fast" # selector used to provide the gas price

[Elrond]
    NetworkAddress = <the network address, Eg: https://devnet-gateway.elrond.com>
    BridgeAddress = <the elrond address for the bridge contract>
    PrivateKey = <the path to the pem file containing the relayer elrond wallet>
    IntervalToResendTxsInSeconds = <the time in seconds between nonce reads. Eg: 60>

[P2P]
    Port = "10000"
    Seed = "seed"
    InitialPeerList = [<the initial seed hosted by elrond>]
    ProtocolID = "/erd/relay/1.0.0"

[StateMachine]
    StepDurationInMillis = 6000
    Steps = [
        { Name = "getting the pending transactions", DurationInMillis = 48000 },
        { Name = "proposing transfer", DurationInMillis = 48000 },
        { Name = "waiting signatures for propose transfer", DurationInMillis = 48000 },
        { Name = "executing transfer", DurationInMillis = 48000 },
        { Name = "proposing set status", DurationInMillis = 48000 },
        { Name = "waiting signatures for propose set status", DurationInMillis = 48000 },
        { Name = "executing set status", DurationInMillis = 48000 }
    ]